# Зависимости
node_modules
vendor
/public/storage
/public/hot

# Локальные настройки и секреты
../../dev/backend/.env.example
.env.local
.env.production
.env.testing

# Временные файлы, логи, кэш
storage/*.log
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
storage/framework/testing/*
bootstrap/cache/*

# Система контроля версий
.git
.gitignore
.gitattributes

# Docker и IDE
../../deploy/dev/backend/Dockerfile
docker-compose.yml
docker-compose.override.yml
.dockerignore
.idea
.vscode
.editorconfig

# Документация и CI
README.md
docs
.github
.gitlab-ci.yml
